<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Harit Kapadia</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <style>
       @import url('https://fonts.googleapis.com/css2?family=Arimo&family=Inconsolata:wght@400;700;900&family=Zilla+Slab&display=swap');
     </style>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body style="height: 100%;">
    <div class="topic" id="frontPage">
      <div class="row">
        <h1>Error 404</h1>
        <p>The page you are looking for could not be found. Check out the links below instead.</p>
        <div class="toc">
          <ul>
            <li><a href="/">Home page</a></li>
            {{#each topics}}
            <li>
              <a href="{{strcat "/#" this.id}}">{{this.menuText}}</a>
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
